.idea
.env
.password
.genesis.json
.vscode

dist/
chains/
nContracts/
origContracts/
node_modules/

**/_build
alarmClient
alarmClient/*
coverage
coverage/*

alarm_client/*
contracts.info
contracts.json
gas.txt
notes.txt

script/wallet/keyfile
script/client/dep*

.DS_Store
.project
.settings
audit/code-review/**/*.sol
audit/test/testchain/geth
audit/test/testchain/geth.ipc
audit/test/testchain/history
audit/test/contracts
private
